$theme-colors: (
        "darker": #282828,
);


@import "~bootstrap";
@import "~dropzone/dist/dropzone.css";
@import "~jssocials/styles/jssocials";
@import "~jssocials/styles/jssocials-theme-classic";
@import "~summernote/dist/summernote-bs4.css";
//@import "~@fortawesome/fontawesome-free/scss/fontawesome";

html, body {
  height: 100%;
}

.dropzone {
  border-radius: 4px;
  border: 2px dashed map_get($theme-colors, 'primary');
  opacity: .7;

  .dz-message {
    font-size: 1.5em;
    opacity: 0.7;
  }
}

.page-website-home, .page-website-login, .page-website-register {
  .home-cover {
    background: rgba(0, 0, 0, .5);
    height: 100%;
  }
}

.custom-list-group {
  .list-group-item {
    border: none;
    padding: 0.3rem 1rem;
    border-left: 3px solid transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding-left: 1rem;
    margin-bottom: .3rem;

    &.active {
      color: #495057;
      background-color: transparent;
      border-left-color: map_get($theme-colors, 'primary');
    }
  }
}